[submodule "public"]
	path = public
	url = https://github.com/nclandrei/nclandrei.com
	branch = master
[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder/
[submodule "themes/basics"]
	path = themes/basics
	url = https://github.com/arjunkrishnababu96/basics.git
